@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/login.css" rel="stylesheet" />
<div class="text-center">
    <div class="row">
        <div class="col-lg-12 col-sm-12 d-none d-lg-block">
            <div class="post-container">
                <img width="20%" src="~/img/logo.png" />
                <img width="30%" src="~/img/6f83a5d4f041c736480e0a29ee3b48a0.gif" />
            </div>
        </div>
        <div class="col-lg-12">
            <div class="post-container">
                <h3 class="" style="margin-top:20px">Register</h3>
                <div class="login-container" style="text-align:left">
                    <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Re-enter password">
                    </div>
                    <div class="form-check form-check-inline">
                        <label>Gender:&nbsp; &nbsp;</label>
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">Female</label>
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Date of birth">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Accept to <a href="#">Term of use</a> </label>
                    </div>
                </div>
                <div class="submit-form" style="text-align:center">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>
