@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http;
    <link href="~/css/usercss.css" rel="stylesheet" />
<div class="text-center">
    <div class="row">
        <div class="col-lg-4 col-sm-4">
            <div class="profile-picture ">
                <img src="~/img/img_avatar.png" />
            </div>
        </div>
        <div class="col-lg-8 col-sm-8">
            <div class="profile-information ">
                <div class="username">@Context.Session.GetString("Username")</div>
                <div class="summary-user">
                    <b>25</b> Posts	&nbsp;	&nbsp;
                    <b>25</b> Following	&nbsp;	&nbsp;
                    <b>25</b> Followers	&nbsp;	&nbsp;
                </div>
                <div class="bio">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
                <div class="control">
                    <button type="button" class="btn btn-outline-primary">Edit profile</button>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="images-container">
        <div class="row images-row">
            <div class="col-lg-4 col-sm-12 col-md-12">
                <img class="post-image" src="~/img/1.jpg" />
            </div>
            <div class="col-lg-4 col-sm-12 col-md-12">
                <img class="post-image" src="~/img/1.jpg" />
            </div>
            <div class="col-lg-4 col-sm-12 col-md-12">
                <img class="post-image" src="~/img/1.jpg" />
            </div>
        </div>
      
    </div>
</div>
