@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ISCProject</title>
    <link rel="stylesheet" href="~/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/tagsinput.css" rel="stylesheet" />

    <style>
        #logo-banner {
            width: 20%;
        }

        .float {
            position: fixed;
            width: 60px;
            height: 60px;
            bottom: 40px;
            right: 40px;
            background-color: #ff7100;
            color: #FFF;
            border-radius: 50px;
            text-align: center;
            box-shadow: 2px 2px 3px #999;
        }

        .my-float {
            margin-top: 22px;
        }

        #upload-container img {
            width: 100%;
            position: relative;
            cursor: pointer;
        }

        #uploaded-img {
            display: none;
        }

        .pac-container.pac-logo {
            z-index: 9999999;
        }
    </style>
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.css" rel="stylesheet">
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" id="navBar">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img id="logo-banner" src="~/img/logo.png" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (Context.Session.GetInt32("AccountId") != null)
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index"><i class="fa fa-user" aria-hidden="true"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Logout" asp-action="Index"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - ISCProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="~/js/popper.min.js" crossorigin="anonymous"></script>
    <script src="~/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    @*<script>
            window.onscroll = function () { myFunction() };

            var header = document.getElementById("navBar");
            var sticky = header.offsetTop;

            function myFunction() {
                if (window.pageYOffset > sticky) {
                    header.classList.add("sticky");
                } else {
                    header.classList.remove("sticky");
                }
            }
        </script>*@
    <a href="#" class="float" data-toggle="modal" data-target="#staticBackdrop">
        <i class="fa fa-plus my-float"></i>
    </a>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Upload</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="upload-container">
                    <input type="file" class="my-pond" name="filesUploaded" data-allow-reorder="true" data-max-file-size="3MB" data-max-files="3" accept="image/png, image/jpeg, image/gif" />
                    <hr />
                    <form id="post-form">
                        <div class="form-group">
                            <label for="post-description" style="color:gray"><i>Say something:</i></label>
                            <textarea class="form-control" id="post-description" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1" style="color:gray"><i>Location:</i></label>
                            <input class="form-control" id="autocomplete-location" type="text" />
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1" style="color:gray"><i>Tag:</i></label>
                            <input type="text" id="tags-upload" data-role="tagsinput" value="jQuery,Script,Net">
                        </div>

                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" id="cancel-upload" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" id="upload-btn" class="btn btn-primary">Upload</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        //$("#upload-container").find("img").click(function () {
        //    $("#upload-button").click();
        //});
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#uploaded-img')
                        .attr('src', e.target.result)
                };
                $("#upload-img-button").hide();
                $('#uploaded-img').show();
                reader.readAsDataURL(input.files[0]);
            }
        }
        //$("#cancel-upload").click(function () {
        //    $("#upload-img-button").show();
        //    $('#uploaded-img').hide();
        //})
        $("#upload-btn").click(function () {
            //var formElement = document.querySelector("#post-form");
            //var request = new XMLHttpRequest();
            //request.open("POST", "submitform.php");
            //request.send(new FormData(formElement));
        })
    </script>
    <script src="~/js/tagsinput.js"></script>
    <script>
        function initAutocomplete() {
            autocomplete = new google.maps.places.Autocomplete(
                (document.getElementById('autocomplete-location')),
                { types: ['geocode'] });
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAN_wgLTdwHCqgW2gfotcbZWqnCLVsDzPo&libraries=places&callback=initAutocomplete" async defer></script>
    <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>
    <script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.js"></script>

    <script>
        var uploadResult;

        $(".float").click(function () {
            $(".filepond--file-action-button.filepond--action-remove-item").click()
        })
        $(function () {
            FilePond.registerPlugin(FilePondPluginImagePreview,
                FilePondPluginImageResize,
                FilePondPluginImageCrop,
                FilePondPluginImageEdit)
            //FilePond.setOptions({
            //    server: 'https://srv-file9.gofile.io/upload',
            //    process: {
            //        url: 'https://srv-file9.gofile.io/upload',
            //        method: 'POST',
            //        withCredentials: false,
            //        headers: {},
            //        timeout: 7000,
            //        onload: (response) => response.key,
            //        onerror: null,
            //        ondata: null
            //    }
            //});

            FilePond.setOptions({
                server: {
                    process: (fieldName, file, metadata, load, error, progress, abort, transfer, options) => {

                        // fieldName is the name of the input field
                        // file is the actual file object to send
                        const formData = new FormData();
                        formData.append("filesUploaded", file, file.name);
                        formData.append("email", "tuankqhe130156@fpt.edu.vn")
                        const request = new XMLHttpRequest();
                        request.open('POST', 'https://srv-file9.gofile.io/upload');

                        request.upload.onprogress = (e) => {
                            progress(e.lengthComputable, e.loaded, e.total);
                        };
                        request.onload = function () {
                            if (request.status >= 200 && request.status < 300) {
                                // the load method accepts either a string (id) or an object
                                load(request.responseText);
                                $.ajax({
                                    url: "https://srv-file9.gofile.io/getUpload?c=" + JSON.parse(request.responseText)["data"]["code"],
                                    contentType: "application/json",
                                    dataType: 'json',
                                    method: 'GET',
                                    success: function (result) {
                                        uploadResult = result["data"]["files"][0]["link"]
                                    }
                                })
                            }
                            else {
                                // Can call the error method if something is wrong, should exit after
                                error('oh no');
                            }
                        };
                        request.send(formData);

                        // Should expose an abort method so the request can be cancelled
                        return {
                            abort: () => {
                                // This function is entered if the user has tapped the cancel button
                                request.abort();

                                // Let FilePond know the request has been cancelled
                                abort();
                            }
                        };
                    }
                }
            });


            // Turn input element into a pond
            $('.my-pond').filepond();

            // Turn input element into a pond with configuration options
            $('.my-pond').filepond({
                allowMultiple: false
            });

            // Set allowMultiple property to true
            $('.my-pond').filepond('allowMultiple', false);

            // Listen for addfile event
            $('.my-pond').on('FilePond:addfile', function (e) {
                console.log('file added event', e);
            });

            // Manually add a file using the addfile method
            $('.my-pond').filepond('addFile', 'index.html').then(function (file) {
                console.log('file added', file);
            });


        });
        var post_data;
        var json_post_data;
        $("#upload-btn").click(function () {
             post_data = {
                link: uploadResult,
                description: $("#post-description").val(),
                location: $("#autocomplete-location").val(),
                tags: $("#tags-upload").val()
            }
             json_post_data = JSON.stringify(post_data);
            $.ajax({
                type: 'POST',
                url: "/user/upload-photo",
                contentType: "application/json",
                dataType: 'text',
                data: {
                    json: json_post_data
                },
                success: function (result) {
                   
                }
            })
        })
    </script>

</body>

</html>
